<html lang="en" ng-app>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJs_5_01</title>

    <!--<script src = '../js/angular.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <style>
    .new-class{
      font-size: 72px
    }

    .other-class{
      52px
    }
    </style>

  </head>
  <body>
    <h1 class="new-class" ng-if="{'other-class': name}">Hello,
      <span ng-if='!name'> World</span>
      <span ng-if='name'>{{ name }}</span>
        !
    </h1>
    <input type='text' ng-model='name'/>

  </body>
</html>
