<html lang="en" ng-app='learn'>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJs_5_01</title>

    <!--<script src = '../js/angular.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="../js/app/app.module.js"></script>
    <script src="../js/app/app.config.js"></script>

    <script src="../js/app/blog-list/blog-list.module.js"></script>
    <script src="../js/app/blog-list/blog-list.component.js"></script>

    <style>
    .new-class{
      font-size: 72px;
    }

    .other-class{
      font-size: 32px;
    }

    .new-class2{
      font-size: 10px;
    }
    </style>

  </head>
  <body>
    <h1 class="new-class" ng-class="{'other-class': name=='Abc', 'new-class2':font==10}">Hello,
      <span ng-if='!name'> World</span>
      <span ng-if='name'>{{ name }}</span>
        !!!
    </h1>
    <input type='text' ng-model='name'/>
    <input text='text' ng-model='font' placeholder="Enter font size"/>

    <div class="" ng-controller = 'BlogListController'>
      {{ tittle }}
    </div>

  </body>
</html>
